main {
    margin: 10px;
    padding: 10px 10px 50px 10px;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    background-color: #ebf0fc;

    box-shadow: 0px 2px 3px 0 black;
}

main div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main div input {
    display: flex;
    flex-grow: 1;

    margin: 5px;
    padding: 5px;

    border: 2px solid blue;
    border-radius: 25px;
}

main div button {

    margin: 5px;
    padding: 5px 15px 5px 15px;

    color: blue;
    font-weight: 900;

    background-color: whit;
    border: 2px solid blue;
    border-radius: 25px;
}