nav {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 2px 0 black;
}

nav span {
  display: flex;
  flex-direction: row;
  align-items: center;

  color:#fa9600;
  font-size: 14px;
  font-weight: bold;
}

nav button img {
  padding: 5px;
  width: 36px;
  height: auto; 
}

nav span button {
  margin: 5px;
  padding: 5px;

  color:#fa9600;
  font-size: 14px;
  font-weight: bold;

  border: 2px solid #fa9600;
  border-radius: 35px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 2px 2px 0 black;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main button {
  margin: 5px;
  padding: 5px;

  color:#fa9600;
  font-size: 14px;
  font-weight: bold;

  border: 2px solid #fa9600;
  border-radius: 35px;
}

main form input {
  margin: 5px;
  padding: 5px;
  border: 2px solid #fa9600;
  border-radius: 25px;
}

main form input:focus {
  border: 2px solid #449bff;
}

main form p {
  color: red;
}