nav {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 3px 0 black;
    font-weight: bold;
    font-size: small;
    font-size: small;
    color: #ff8800;
}

nav img {
    width: 36px;
    height: auto;
}

nav button {
    margin-left: auto;
    font-weight: bold;
    color: #ff8800;
    padding: 5px 10px 5px 10px;
    border: 2px solid #ff8800;
    border-radius: 25px;
}

main {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main form {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 25px;
    box-shadow: 0px 1px 2px 0px black;
}

main button {
    margin: 5px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    color: #ff8800;
    border: 2px solid #ff8800;
    border-radius: 25px;
}

main form input {
    margin: 5px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ff8800;
    border-radius: 25px;
}

main form input:focus {
    background-color: #ffe99f;
}

main .formError {
    margin: 5px;
    padding: 5px 10px 5px 10px;
    font-size: small;
    color: #ce0000;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section span {
    display: flex;
    flex-direction: row;
}

main section span input {
    margin: 5px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ff8800;
    border-radius: 25px;
}

main section span:focus {
    background-color: #ffe99f;
}

main section img {
    max-width: 500px;
    padding: 10px;
    border-radius: 25px;
}

.targetBox {
    position: absolute;
    box-shadow: 0 0 0 3px blue inset;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}